* { box-sizing: border-box; }
body{
    background-image: url("/home/davis/Desktop/code/Web/blue-gradient-wallpaper.jpg.crdownload");
}


#content {
  padding: 1rem;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  
  
}


#right {
  flex-grow: 1;
  background-color: #3c4855;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}



.div1{
    width: 60%;
  height: 20%;
  padding: 200px;
  
}
.div1_font{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
color: aliceblue;
}
#img1{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.div2{
    width: 40%;
    height: 10%;
    padding: 200px;
    
    position: absolute;
    left: 50%;
    top: 10%;
    
  }

#button{
    border-radius: 25px;
    position: absolute;
    margin: 20px;
    position: absolute;
    left: 12%;
    top: 52%;
}
.vonal{
    height: 3px;
    width: 80%;
    margin-left: 10%;
    border-top: 5px;
    border-top-color: #dd572e;
    background-color: #b6b6b6;
}